<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Blog with backedn 2.0 authentication with google. Created with Node js, express and bootstrap." />
    <META NAME="geo.position" CONTENT="latitude; longitude">
      <META NAME="geo.placename" CONTENT="Place Name">
      <META NAME="geo.region" CONTENT="Country Subdivision Code">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/css/custom.css">
    <title>RESTful Blog using NodeJs</title>
  </head>
  <body>