<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/blog">Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto  align-middle">
       
        
        <%if(!user){%>
          <li class="nav-item ">
            <a class="nav-link" href="/google">Login</a>
          </li>
          <%}else{%>
           
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span><img src="<%=user.avatar%>" class="rounded-circle" alt="profile image" width="30px"/></span>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
             
                <a class="dropdown-item" href="/user/<%=user._id%>"><%=user.name%></a>
                <a class="dropdown-item" href="/blog/create">Create</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Log out</a>
              </div>
            </li>
            <%}%>
       
      </ul>  
    </div>
  </nav>