<%- include("partials/header.ejs") -%>
<%- include("partials/navbar.ejs")-%>
<div class="container mt-4">
  <div class="jumbotron">
      <h1 class="display-1">Not Found</h1>
      <p class="lead">
          You are in the wrong route. Go to home page
      </p>
      <hr class="my-4">
      <p>
          <a href="/blog" class="btn btn-primary btn-outline">Home</a>
      </p>
  </div>  
</div>
<%- include("partials/footer.ejs") -%>
